body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4a90e2;
  color: rgb(0, 0, 0);
  padding: 30px;
  text-align: center;
}

.box{
  background-color: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 500px;
  border-radius: 80px;
  box-shadow: 0 0 20px rgba(3, 19, 241, 0.973);
}

main {
  background-color: white;
  margin: 20px auto;
  padding: 40px;
  max-width: 700px;
  border-radius: 80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
  display: block;
  margin: 0 auto 20px;
  max-width: 200px;
  border-radius: 100px;
  border: 3px solid #4a90e2;
}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

a {
  display: block;
  color: #4a90e2;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

.skills {
  margin-top: 5px;
  font-size: 14px;
  opacity: 0.9;
}

.projects {
  background: #f8f4f4;
  margin: 10px auto;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  display: inline-block;
  background-color: #4da6ff;
  color: white;
  padding: 10px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 10px;
}

.btn:hover {
  background-color: #3399ff;
}